# Project 2
# Co-op Market Values and Neighborhood Income in New York City

In this project, I use two datasets to explore how co-op apartment values vary with neighborhood income levels in New York City.

**Datasets:**

1. **DOF: Cooperative Comparable Rental Income (Citywide)**  
https://data.cityofnewyork.us/City-Government/DOF-Cooperative-Comparable-Rental-Income-Citywide-/myei-c3fa/about_data
   - Source: NYC Department of Finance  
   - Each row is a co-op building (or comparable) with fields like neighborhood, total units, gross square footage, estimated income, and full market value.

2. **ACS Selected Economic Characteristics by Neighborhood Tabulation Area (NTA)**  
https://data.cityofnewyork.us/City-Government/Demographics-and-profiles-at-the-Neighborhood-Tabu/hyuz-tij8/about_data
   - Source: U.S. Census Bureau American Community Survey (via NYC Planning)  
   - Provides economic indicators (e.g., median household income) at the NTA level.

**Question / Hypothesis**

Do neighborhoods with higher median household income also have higher co-op market value per square foot on average?

My hypothesis is that higher-income neighborhoods will also tend to have higher co-op market values per square foot.

In [3]:
import pandas as pd
dof_path = "dof_coop_rent.csv"
dof = pd.read_csv(dof_path)

dof.head()

/var/folders/fg/4y170_5d6k7f_59mdr44dz9m0000gn/T/ipykernel_51799/1812200045.py:3: DtypeWarning: Columns (18,33,48,54) have mixed types. Specify dtype option on import or set low_memory=False.
  dof = pd.read_csv(dof_path)

,Boro-Block-Lot,Address,Neighborhood,Building Classification,Total Units,Year Built,Gross SqFt,Estimated Gross Income,Gross Income per SqFt,Estimated Expense,...,Gross SqFt 3,Estimated Gross Income 3,Gross Income per SqFt 3,Estimated Expense 3,Expense per SqFt 3,Net Operating Income 3,Full Market Value 3,Market Value per SqFt 3,Distance from Co-op in miles 2,Report Year
0,1-00011-0014,26 BEAVER STREET,FINANCIAL,D4 -ELEVATOR,21,1909,"51,387","2,399,773",46.70,"940,382",...,"335,746","15,679,338",46.70,"6,144,152",18.3,"9,535,186","71,229,000",212.15,0.21,2019
1,1-00028-0001,3 HANOVER SQUARE,FINANCIAL,D0 -ELEVATOR,211,1926,"239,121","9,462,018",39.57,"2,907,711",...,"473,460","18,706,405",39.51,"6,538,483",13.81,"12,167,922","145,268,000",306.82,0.10,2019
2,1-00094-0001,80 GOLD STREET,SOUTHBRIDGE,D4 -ELEVATOR,"1,652",1971,"2,155,492","68,113,547",31.60,"27,676,517",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
3,1-00100-0026,138 NASSAU STREET,SOUTHBRIDGE,D4 -ELEVATOR,43,1901,"79,422","3,130,815",39.42,"882,378",...,"31,715","1,205,170",38.00,"319,370",10.07,"885,800","10,485,000",330.60,0.27,2019
4,1-00117-0001,185 PARK ROW,CIVIC CENTER,D4 -ELEVATOR,465,1960,"515,425","25,889,798",50.23,"10,354,888",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019

In [4]:
# Load ACS economic NTA data (the econ_nta.xlsx file)
econ_path = "econ_nta.xlsx"
econ_raw = pd.read_excel(econ_path)

econ_raw.head()

,DP03: SELECTED ECONOMIC CHARACTERISTICS,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 771,Unnamed: 772,Unnamed: 773,Unnamed: 774,Unnamed: 775,Unnamed: 776,Unnamed: 777,Unnamed: 778,Unnamed: 779,Unnamed: 780
0,2008-2012 American Community Survey 5-Year Est...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Community Districts and Neighborhood Tabulatio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Selected Labor Force Characteristics,BK Community District 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,BK72 Williamsburg,NaN,NaN,NaN,BK73 North Side-South Side,BK73 North Side-South Side,BK73 North Side-South Side,BK73 North Side-South Side,BK76 Greenpoint,...,SI48 Arden Heights,SI48 Arden Heights,SI54 Great Kills,SI54 Great Kills,SI54 Great Kills,SI54 Great Kills,SI99 park-cemetery-etc-Staten Island,SI99 park-cemetery-etc-Staten Island,SI99 park-cemetery-etc-Staten Island,SI99 park-cemetery-etc-Staten Island

## Data preparation outside Python

The ACS economic data file `acs_select_econ_08to12_ntas.xlsx` has many header rows and notes.  
To simplify the analysis, I did the following in Excel:

1. Opened the ACS economic file.
2. Located the table that contains **NTA names/codes** and **median household income**.
3. Copied just that table (rows and columns) into a new sheet and kept three columns:
   - NTA code (e.g., "BK72")
   - NTA name (e.g., "Williamsburg")
   - Median household income in dollars
4. Saved this cleaned sheet as a new file: `econ_nta.xlsx`.

From this point on, all data cleaning, merging, and visualization are done in Python/pandas.

## Exploring and cleaning the DOF co-op data

In [5]:
dof.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49260 entries, 0 to 49259
Data columns (total 60 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Boro-Block-Lot                  49260 non-null  object
 1   Address                         49260 non-null  object
 2   Neighborhood                    49260 non-null  object
 3   Building Classification         49260 non-null  object
 4   Total Units                     49260 non-null  object
 5   Year Built                      49260 non-null  int64
 6   Gross SqFt                      49260 non-null  object
 7   Estimated Gross Income          49260 non-null  object
 8   Gross Income per SqFt           49260 non-null  float64
 9   Estimated Expense               49260 non-null  object
 10  Expense per SqFt                49260 non-null  float64
 11  Net Operating Income            49260 non-null  object
 12  Full Market Value               49260 non-null  object
 13  Market Value per SqFt           49260 non-null  float64
 14  Boro-Block-Lot 1                49260 non-null  object
 15  Address 1                       49260 non-null  object
 16  Neighborhood 1                  49260 non-null  object
 17  Building Classification 1       49260 non-null  object
 18  Total Units 1                   49260 non-null  object
 19  Year Built 1                    49260 non-null  int64
 20  Gross SqFt 1                    49260 non-null  object
 21  Estimated Gross Income 1        49259 non-null  object
 22  Gross Income per SqFt 1         49260 non-null  float64
 23  Estimated Expense 1             49259 non-null  object
 24  Expense per SqFt 1              49260 non-null  float64
 25  Net Operating Income 1          49257 non-null  object
 26  Full Market Value 1             49260 non-null  object
 27  Market Value per SqFt 1         49260 non-null  float64
 28  Distance from Co-op in miles    49259 non-null  float64
 29  Boro-Block-Lot 2                49009 non-null  object
 30  Address 2                       49009 non-null  object
 31  Neighborhood 2                  49009 non-null  object
 32  Building Classification 2       49009 non-null  object
 33  Total Units 2                   49009 non-null  object
 34  Year Built 2                    49009 non-null  float64
 35  Gross SqFt 2                    49009 non-null  object
 36  Estimated Gross Income 2        49009 non-null  object
 37  Gross Income per SqFt 2         49009 non-null  float64
 38  Estimated Expense 2             49009 non-null  object
 39  Expense per SqFt 2              49009 non-null  float64
 40  Net Operating Income 2          49005 non-null  object
 41  Full Market Value 2             49009 non-null  object
 42  Market Value per SqFt 2         49009 non-null  float64
 43  Distance from Co-op in miles 1  49007 non-null  float64
 44  Boro-Block-Lot 3                40027 non-null  object
 45  Address 3                       40027 non-null  object
 46  Neighborhood 3                  40027 non-null  object
 47  Building Classification 3       40027 non-null  object
 48  Total Units 3                   40027 non-null  object
 49  Year Built 3                    40027 non-null  float64
 50  Gross SqFt 3                    40027 non-null  object
 51  Estimated Gross Income 3        40027 non-null  object
 52  Gross Income per SqFt 3         40027 non-null  float64
 53  Estimated Expense 3             40026 non-null  object
 54  Expense per SqFt 3              40026 non-null  object
 55  Net Operating Income 3          40023 non-null  object
 56  Full Market Value 3             40027 non-null  object
 57  Market Value per SqFt 3         40027 non-null  float64
 58  Distance from Co-op in miles 2  40027 non-null  float64
 59  Report Year                     49260 non-null  int64
dtypes: float64(16), int64(3), object(41)
memory usage: 22.5+ MB

In [6]:
# Keep only the main building columns we care about
dof_subset = dof[[
    "Neighborhood",
    "Total Units",
    "Gross SqFt",
    "Full Market Value",
    "Market Value per SqFt"
]].copy()

dof_subset.head()

,Neighborhood,Total Units,Gross SqFt,Full Market Value,Market Value per SqFt
0,FINANCIAL,21,"51,387","11,852,000",230.64
1,FINANCIAL,211,"239,121","53,231,000",222.61
2,SOUTHBRIDGE,"1,652","2,155,492","328,409,000",152.36
3,SOUTHBRIDGE,43,"79,422","18,261,000",229.92
4,CIVIC CENTER,465,"515,425","126,158,000",244.76

In [7]:
# The numeric columns may be strings with commas. Clean them.
num_cols = ["Total Units", "Gross SqFt", "Full Market Value", "Market Value per SqFt"]

for col in num_cols:
    dof_subset[col] = (
        dof_subset[col]
        .astype(str)
        .str.replace(",", "", regex=False)
        .str.replace("$", "", regex=False)
    )

    dof_subset[col] = pd.to_numeric(dof_subset[col], errors="coerce")

dof_subset.describe()

        Total Units    Gross SqFt  Full Market Value  Market Value per SqFt
count  49260.000000  4.926000e+04       4.926000e+04           49260.000000
mean      84.514271  9.317502e+04       1.132110e+07             132.220833
std      225.839864  2.564951e+05       2.215605e+07              82.468239
min       11.000000  3.867000e+03       0.000000e+00               0.000000
25%       23.000000  2.129100e+04       2.291000e+06              61.520000
50%       49.000000  5.454500e+04       5.109500e+06             100.990000
75%       93.000000  1.078840e+05       1.212125e+07             201.102500
max    10948.000000  1.354011e+07       1.086712e+09             573.860000

In [8]:
# Drop rows with missing neighborhood or missing market value per sqft
dof_clean = dof_subset.dropna(subset=["Neighborhood", "Market Value per SqFt"]).copy()

dof_clean["Neighborhood"] = dof_clean["Neighborhood"].str.strip().str.title()

dof_clean.head()

,Neighborhood,Total Units,Gross SqFt,Full Market Value,Market Value per SqFt
0,Financial,21,51387,11852000,230.64
1,Financial,211,239121,53231000,222.61
2,Southbridge,1652,2155492,328409000,152.36
3,Southbridge,43,79422,18261000,229.92
4,Civic Center,465,515425,126158000,244.76

## Clean the ACS econ data

In [9]:
econ_raw.head()
econ_raw.columns

Index(['DP03: SELECTED ECONOMIC CHARACTERISTICS', 'Unnamed: 1', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9',
       ...
       'Unnamed: 771', 'Unnamed: 772', 'Unnamed: 773', 'Unnamed: 774',
       'Unnamed: 775', 'Unnamed: 776', 'Unnamed: 777', 'Unnamed: 778',
       'Unnamed: 779', 'Unnamed: 780'],
      dtype='object', length=781)

In [10]:
# Example: adjust these column names to match your actual sheet
econ = econ_raw.rename(columns={
    "NTA Code": "nta_code",
    "NTA Name": "nta_name",
    "Median Household Income": "median_income"
}).copy()

econ.head()

,DP03: SELECTED ECONOMIC CHARACTERISTICS,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 771,Unnamed: 772,Unnamed: 773,Unnamed: 774,Unnamed: 775,Unnamed: 776,Unnamed: 777,Unnamed: 778,Unnamed: 779,Unnamed: 780
0,2008-2012 American Community Survey 5-Year Est...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Community Districts and Neighborhood Tabulatio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Selected Labor Force Characteristics,BK Community District 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,BK72 Williamsburg,NaN,NaN,NaN,BK73 North Side-South Side,BK73 North Side-South Side,BK73 North Side-South Side,BK73 North Side-South Side,BK76 Greenpoint,...,SI48 Arden Heights,SI48 Arden Heights,SI54 Great Kills,SI54 Great Kills,SI54 Great Kills,SI54 Great Kills,SI99 park-cemetery-etc-Staten Island,SI99 park-cemetery-etc-Staten Island,SI99 park-cemetery-etc-Staten Island,SI99 park-cemetery-etc-Staten Island

In [11]:
econ["nta_name"] = econ["nta_name"].str.strip().str.title()
econ["median_income"] = pd.to_numeric(econ["median_income"], errors="coerce")

econ.describe()

KeyError: 'nta_name'

In [12]:
econ_raw = pd.read_excel("econ_nta.xlsx")
econ_raw.head()

,DP03: SELECTED ECONOMIC CHARACTERISTICS,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 771,Unnamed: 772,Unnamed: 773,Unnamed: 774,Unnamed: 775,Unnamed: 776,Unnamed: 777,Unnamed: 778,Unnamed: 779,Unnamed: 780
0,2008-2012 American Community Survey 5-Year Est...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Community Districts and Neighborhood Tabulatio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Selected Labor Force Characteristics,BK Community District 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,BK72 Williamsburg,NaN,NaN,NaN,BK73 North Side-South Side,BK73 North Side-South Side,BK73 North Side-South Side,BK73 North Side-South Side,BK76 Greenpoint,...,SI48 Arden Heights,SI48 Arden Heights,SI54 Great Kills,SI54 Great Kills,SI54 Great Kills,SI54 Great Kills,SI99 park-cemetery-etc-Staten Island,SI99 park-cemetery-etc-Staten Island,SI99 park-cemetery-etc-Staten Island,SI99 park-cemetery-etc-Staten Island

In [13]:
econ_raw.columns

Index(['DP03: SELECTED ECONOMIC CHARACTERISTICS', 'Unnamed: 1', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9',
       ...
       'Unnamed: 771', 'Unnamed: 772', 'Unnamed: 773', 'Unnamed: 774',
       'Unnamed: 775', 'Unnamed: 776', 'Unnamed: 777', 'Unnamed: 778',
       'Unnamed: 779', 'Unnamed: 780'],
      dtype='object', length=781)

In [14]:
econ_raw.head(20)
econ_raw.iloc[:20, :10]

,DP03: SELECTED ECONOMIC CHARACTERISTICS,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,2008-2012 American Community Survey 5-Year Est...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Community Districts and Neighborhood Tabulatio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Selected Labor Force Characteristics,BK Community District 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,BK72 Williamsburg,NaN,NaN,NaN,BK73 North Side-South Side,BK73 North Side-South Side,BK73 North Side-South Side,BK73 North Side-South Side,BK76 Greenpoint
5,NaN,Estimate,Margin of Error,Percent,Percent MOE,Estimate,Margin of Error,Percent,Percent MOE,Estimate
6,EMPLOYMENT STATUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Population 16 years and over,18567,697.798682,100,-,37813,1103.433278,100,-,28667
8,In labor force,8407,499.931995,45.279259,2.086663,27062,1043.221453,71.567979,1.802746,21148
9,Civilian labor force,8407,499.931995,45.279259,2.086663,27035,1042.580932,71.496575,1.802567,21138
10,Employed,7970,471.634392,42.925621,1.96211,25281,1002.016467,66.857959,1.793235,19849
11,Unemployed,437,159.593233,2.353638,0.85499,1754,300.963453,4.638616,0.784331,1289
12,Armed Forces,0,-,0,-,27,42,0.071404,0.111053,10
13,Not in labor force,10160,579.81635,54.720741,2.350035,10751,775.977448,28.432021,1.876945,7519
14,NaN,NaN,-,NaN,-,NaN,-,NaN,-,NaN
15,Civilian labor force,8407,499.931995,100,-,27035,1042.580932,100,-,21138
16,Unemployment Rate,NaN,-,5.198049,-,NaN,-,6.487886,-,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Females 16 years and over,9338,423.640178,100,-,19505,786.825266,100,-,14572
19,In labor force,3256,320.666493,34.86828,3.047946,13178,746.261348,67.562164,2.685196,10055

In [15]:
dof_raw.columns

NameError: name 'dof_raw' is not defined